html {
  font-size: max(3ch, 2vw + 2vh);
  font-family: sans-serif;
  line-height: 1.618;
}

body {
  margin: auto;
  overflow-wrap: anywhere;
  padding: 1em;
}

h1 {
  font-size: 1.382em;
  margin: 0;
}

h2 {
  font-size: inherit;
  margin: 0;
}

p {
  margin: auto;
}


blockquote {
  margin: 0;
}