:any-link {
  color: inherit;
}

:focus {
  outline: thick double;
  text-decoration-style: double;
}

:hover {
  text-decoration-style: wavy;
}

@media (color) {
  :focus {
    background-color: turquoise;
    color: indigo;
  }

  ::selection {
    background: gold;
    color: darkviolet;
  }

  :root {
    background-image: conic-gradient(darkviolet, blueviolet, darkviolet);
    background-color: purple;
    color: seashell;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background-image: conic-gradient(seashell, mistyrose, seashell);
    background-color: mistyrose;
    color: purple;
  }

  ::selection {
    background: darkviolet;
    color: peachpuff;
  }
}
